body {
    font-family: "Roboto", sans-serif;
    background-color: #f9faf8;
}

#hero {
    background-color: #1E1E1E;
    max-width: 1600px;
    padding-bottom: 16px;

}

.header {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px;
    padding: 0;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    margin-left: -16px;
}

ul {
    font-size: 18px;
    display: flex;
    list-style-type: none;
    margin-right: -16px;
    padding: 0;  
}

li {
    color: #DEDFDD;
    padding: 0 0 0 32px;
}

.hero-filler {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  60px 80px;
}

.hero-copy {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 400px;
}

.hero-title {
    color:#f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.hero-text {
    color: #DEDFDD;
    font-size: 18px;
    display: flex;
    max-width: 500px;
    margin: 0;
    padding: 0 0 8px;
}

img {
    width: 500px;
    height: auto;
    margin: 0 16px;
}


button.b1 {
    border: none;
    color: #f9faf8;
    background-color: #C77700;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin: 0 100px 50px 0;
    height: 30px;
    width: 100px;
}


#main{
    max-width: 1600px;
    padding: 36px 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    padding: 0 0 36px 0;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    background-color: #f9faf8;
    border: 8px solid #C77700;
    border-radius: 16px;
    height: 150px;
    width: 150px;
    margin: 16px 32px 0px;
} 

.feature {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.subtext {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 150px;
    margin: 8px;
}

h4 {
    color:#1E1E1E;
    font-weight: 900;
    font-size: 36px;
}



#testimonial {
    background-color: #e1cfa5;
    color:#1E1E1E;
    max-width: 1600px;
    padding: 36px 80px;

}

.quote {
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
}

.quoter {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
}



#cta {
    background-color: #C77700;
    color: #f9faf8;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin: 80px auto;
    padding: 8px 60px;
}

.cta-filler {
    padding: 24px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cta-title {
    font-weight: 800;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.cta-text {
    font-size: 18px;
    margin: 0;
    padding: 0;
}


button.b2 {
    color: #f9faf8;
    background-color: #C77700;
    font-weight: 600;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    height: 30px;
    width: 100px;
    box-shadow: none;
    
}

button:hover {
    background-color: #f49600;
}

button:active {
    background-color: #96590e;
    border: none;
}

#footer {
    color:#f9faf8;
    background-color: #1E1E1E;
    text-align: center;
    max-width: 1600px;
    padding: 32px 0;
}
